
body,html{
height: 100%;
}


/*aside*/

.side-wrapper{
    padding-left: 24px;
}
.side-window{
    display: flex;
    flex-direction: column;
    top:0;
    left:auto;
    min-height: 100%;
    align-items: stretch;
    max-width:320px;
    box-shadow: 16px 0px 52px 0px #0E185033;
    color: var(--black-color);
}

    /*Если нужен скролл*/

    /*.side-window{*/
    /*    overflow-y: auto;*/
    /*    outline: solid transparent 1px;*/
    /*}*/

/*side-window__header*/
nav{
    flex-grow: 1;
}
.side-window__menu{
    display: flex;
    padding:18.73px 24px;
    align-items: center;
}
.button{
    cursor: pointer;
}
.side-window__item:not(:last-child){
    margin-right: 16.73px;
}

.side-window__item:nth-child(2){
    margin-right: 78.73px;
}

.button--close::before,
.button--close::after{
    content:"";
    position: absolute;
    width:21.73px;
    height:2.17px;
    background-color: #FFFFFF;
}

.button--close::after{
    transform: rotate(45deg);
}
.button--close::before{
    transform: rotate(-45deg);
}

.side-window__header{
    margin-bottom: 46.46px;
}
.button:hover{
background-color: rgba(255, 62, 121, 0.7);
}
.button img:hover{
    transform: scale(1.15);
    transition: all 0.2s linear;
}


/*side-nav*/

.side-window__nav{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-bottom: auto;
}
.side-nav__item:not(:last-child){
    margin-bottom: 32px;
}
.side-nav__link,
.languages-block__link{
    color:var(--black-color);
    list-style: none;
    text-decoration:none;
    font-size: 16px;
}

.side-wrapper--margin-0{
    margin-left: 0;
}

.side-nav__link:hover{
    color:var(--active-text-color);
}
.side-nav__link--active{
    border:4px solid transparent;
    margin-left: -24px;
    list-style: none;
    padding-left:20px;
    letter-spacing: -0.2px;
}
 .side-nav__link--active:active{
     color:var(--active-text-color);
     border-left: 4px solid var(--green-color);
     margin-left: -24px;
     list-style: none;
     padding-left:20px;
     letter-spacing: -0.2px;
}
/*contacts*/
.side-window__contacts{
    display:flex;
    flex-direction: column;
    margin-top: 32px;
    padding-left: 24px;
}
.contact__buttons:not(:last-child){
    display: flex;
}
.contact__buttons{
    margin-bottom: 16px;
}
.contact__item{
    margin-right: 16px;
}
.contact__mail,
.contact__tell{
    display: block;
    text-decoration: none;
    list-style: none;
    color:inherit;
    font-size: 16px;
}
.contact__mail{
    margin-top: 10px;
}
.contact__tell{
    font-size: 24px;
    font-weight: bold;
    letter-spacing:-0.6px;
    margin-bottom: 40px;
}
.side-window__languages{
    padding-bottom: 32px;
}
.side-window__languages{
    padding-left: 24px;
    display: flex;
}
.languages-block__item:not(:last-child){
    margin-right:7px ;

}
.languages-block__link--done:active{
    color:var(--active-text-color);
}


@media (orientation:landscape){
    .side-nav__item:not(:last-child) {
        margin-bottom: 20px;
    }
}